/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Global Styles */

* {
  font-family: Helvetica, light;
  /*background-color: #EAEAEA;*/

}


/* Header Styles */

header {
  background-color: #2D2D2D;
  color: #878787;
  height: 100px;
  width: 960px;
  margin: 0 auto;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 22px;
}

header section img {
  display: inline;
  clear: left;
  height: 50px;
  width: 50px;
  float: right;
}
section {
  display: inline;

}

ul {
  height: 100px;
  padding-top: 40px;
}

li {
  height: 100px;
  display: inline;
  padding-left: 30px;
  padding-bottom: 50px;
}

.selected {
  color: #FFFFFF;
}

/* Content Styles */

body {
  background-color: #EAEAEA;
  font-family: Helvetica;
  font-weight: lighter;
}

main {
  background-color: #3A3A3A;
  color: #FFFFFF;
  width: 960px;
  margin: 0 auto;
}

main img {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 15px;
  background-color: #EAEAEA;
}
div {
  width: 960px;
  margin: 0 auto;
  background-color: #3A3A3A;
}

h1 {
  color: #FFF;
  font-size: 48px;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  border-bottom: 1px solid #FFF;
  padding-bottom: 10px;
}

.paragraph {
  float: left;
  width: calc(50% - 30px);
  display: inline;
  padding: 15px;
}

p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-top: 5px;
  margin-top: 30px;
  float: left;
  font-size: 20px;
  line-height: 150%;
}

.divide {
  width: 960px;
}

/* Footer Styles */

footer {

  width: 960px;
  margin: 0 auto;
}

footer p {
  background-color: #3A3A3A;
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 0px;
  color: #FFF
}
